<div id="shopify-section-88b85cdc-5358-4fcd-b256-1aa9488ef72b" class="shopify-section index-section"
    data-shopify-editor-section="{&quot;id&quot;:&quot;88b85cdc-5358-4fcd-b256-1aa9488ef72b&quot;,&quot;type&quot;:&quot;feature-row&quot;,&quot;disabled&quot;:false}">
    <div class="page-width feature-row">
        <div class="feature-row">
            <div class="feature-row__item">
                <style>
                    #FeatureRowImage-88b85cdc-5358-4fcd-b256-1aa9488ef72b {
                        max-width: 644.731977818854px;
                        max-height: 545px;
                    }
                    #FeatureRowImageWrapper-88b85cdc-5358-4fcd-b256-1aa9488ef72b {
                        max-width: 644.731977818854px;
                    }
                </style>
                <div id="FeatureRowImageWrapper-88b85cdc-5358-4fcd-b256-1aa9488ef72b"
                    class="feature-row__image-wrapper js">
                    <div style="padding-top:84.53124999999999%;">
                        <img id="FeatureRowImage-88b85cdc-5358-4fcd-b256-1aa9488ef72b"
                            class="feature-row__image lazyautosizes ls-is-cached lazyloaded"
                            data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                            data-aspectratio="1.1829944547134936" data-sizes="auto" alt=""
                            data-srcset="//cdn.shopify.com/s/files/1/0682/1979/7788/files/1_77f594a5-981a-43bc-808e-7042bf108f31_180x.jpg?v=1672729635 180w, //cdn.shopify.com/s/files/1/0682/1979/7788/files/1_77f594a5-981a-43bc-808e-7042bf108f31_360x.jpg?v=1672729635 360w, //cdn.shopify.com/s/files/1/0682/1979/7788/files/1_77f594a5-981a-43bc-808e-7042bf108f31_540x.jpg?v=1672729635 540w, //cdn.shopify.com/s/files/1/0682/1979/7788/files/1_77f594a5-981a-43bc-808e-7042bf108f31_720x.jpg?v=1672729635 720w, //cdn.shopify.com/s/files/1/0682/1979/7788/files/1_77f594a5-981a-43bc-808e-7042bf108f31_900x.jpg?v=1672729635 900w, //cdn.shopify.com/s/files/1/0682/1979/7788/files/1_77f594a5-981a-43bc-808e-7042bf108f31_1080x.jpg?v=1672729635 1080w, //cdn.shopify.com/s/files/1/0682/1979/7788/files/1_77f594a5-981a-43bc-808e-7042bf108f31_1296x.jpg?v=1672729635 1296w, //cdn.shopify.com/s/files/1/0682/1979/7788/files/1_77f594a5-981a-43bc-808e-7042bf108f31_1512x.jpg?v=1672729635 1512w, //cdn.shopify.com/s/files/1/0682/1979/7788/files/1_77f594a5-981a-43bc-808e-7042bf108f31_1728x.jpg?v=1672729635 1728w, //cdn.shopify.com/s/files/1/0682/1979/7788/files/1_77f594a5-981a-43bc-808e-7042bf108f31_2048x.jpg?v=1672729635 2048w"
                            sizes="451px"
                            srcset="//cdn.shopify.com/s/files/1/0682/1979/7788/files/1_77f594a5-981a-43bc-808e-7042bf108f31_180x.jpg?v=1672729635 180w, //cdn.shopify.com/s/files/1/0682/1979/7788/files/1_77f594a5-981a-43bc-808e-7042bf108f31_360x.jpg?v=1672729635 360w, //cdn.shopify.com/s/files/1/0682/1979/7788/files/1_77f594a5-981a-43bc-808e-7042bf108f31_540x.jpg?v=1672729635 540w, //cdn.shopify.com/s/files/1/0682/1979/7788/files/1_77f594a5-981a-43bc-808e-7042bf108f31_720x.jpg?v=1672729635 720w, //cdn.shopify.com/s/files/1/0682/1979/7788/files/1_77f594a5-981a-43bc-808e-7042bf108f31_900x.jpg?v=1672729635 900w, //cdn.shopify.com/s/files/1/0682/1979/7788/files/1_77f594a5-981a-43bc-808e-7042bf108f31_1080x.jpg?v=1672729635 1080w, //cdn.shopify.com/s/files/1/0682/1979/7788/files/1_77f594a5-981a-43bc-808e-7042bf108f31_1296x.jpg?v=1672729635 1296w, //cdn.shopify.com/s/files/1/0682/1979/7788/files/1_77f594a5-981a-43bc-808e-7042bf108f31_1512x.jpg?v=1672729635 1512w, //cdn.shopify.com/s/files/1/0682/1979/7788/files/1_77f594a5-981a-43bc-808e-7042bf108f31_1728x.jpg?v=1672729635 1728w, //cdn.shopify.com/s/files/1/0682/1979/7788/files/1_77f594a5-981a-43bc-808e-7042bf108f31_2048x.jpg?v=1672729635 2048w">
                    </div>
                </div>
                <noscript>
                    <img src="//cdn.shopify.com/s/files/1/0682/1979/7788/files/1_77f594a5-981a-43bc-808e-7042bf108f31_600x600@2x.jpg?v=1672729635"
                        class="feature-row__image" />
                </noscript>
            </div>
            <div class="feature-row__item feature-row__text feature-row__text--left">
                <h2 class="h3" data-live-text-setting="section.88b85cdc-5358-4fcd-b256-1aa9488ef72b.title/escape">Image
                    with text</h2>
                <div class="rte rte-setting featured-row__subtext"
                    data-live-text-setting="section.88b85cdc-5358-4fcd-b256-1aa9488ef72b.text">
                    <p>Pair large text with an image to give focus to your chosen product, collection, or blog post. Add
                        details on availability, style, or even provide a review.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="shopify-section-676c20a3-0287-47f2-add1-213c6ef2e257" class="shopify-section index-section"
    data-shopify-editor-section="{&quot;id&quot;:&quot;676c20a3-0287-47f2-add1-213c6ef2e257&quot;,&quot;type&quot;:&quot;feature-row&quot;,&quot;disabled&quot;:false}">
    <div class="page-width feature-row">
        <div class="feature-row">
            <div class="feature-row__item feature-row__text feature-row__text--right">
                <h2 class="h3" data-live-text-setting="section.676c20a3-0287-47f2-add1-213c6ef2e257.title/escape">Image
                    with text</h2>
                <div class="rte rte-setting featured-row__subtext"
                    data-live-text-setting="section.676c20a3-0287-47f2-add1-213c6ef2e257.text">
                    <p>Pair large text with an image to give focus to your chosen product, collection, or blog post. Add
                        details on availability, style, or even provide a review.</p>
                </div>
            </div>
            <div class="feature-row__item">
                <style>
                    #FeatureRowImage-676c20a3-0287-47f2-add1-213c6ef2e257 {
                        max-width: 644.731977818854px;
                        max-height: 545px;
                    }
                    #FeatureRowImageWrapper-676c20a3-0287-47f2-add1-213c6ef2e257 {
                        max-width: 644.731977818854px;
                    }
                </style>
                <div id="FeatureRowImageWrapper-676c20a3-0287-47f2-add1-213c6ef2e257"
                    class="feature-row__image-wrapper js">
                    <div style="padding-top:84.53124999999999%;">
                        <img id="FeatureRowImage-676c20a3-0287-47f2-add1-213c6ef2e257"
                            class="feature-row__image lazyautosizes ls-is-cached lazyloaded"
                            data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                            data-aspectratio="1.1829944547134936" data-sizes="auto" alt=""
                            data-srcset="//cdn.shopify.com/s/files/1/0682/1979/7788/files/2_69693c21-9b3c-45fc-afc0-f82e26e858d3_180x.jpg?v=1672729643 180w, //cdn.shopify.com/s/files/1/0682/1979/7788/files/2_69693c21-9b3c-45fc-afc0-f82e26e858d3_360x.jpg?v=1672729643 360w, //cdn.shopify.com/s/files/1/0682/1979/7788/files/2_69693c21-9b3c-45fc-afc0-f82e26e858d3_540x.jpg?v=1672729643 540w, //cdn.shopify.com/s/files/1/0682/1979/7788/files/2_69693c21-9b3c-45fc-afc0-f82e26e858d3_720x.jpg?v=1672729643 720w, //cdn.shopify.com/s/files/1/0682/1979/7788/files/2_69693c21-9b3c-45fc-afc0-f82e26e858d3_900x.jpg?v=1672729643 900w, //cdn.shopify.com/s/files/1/0682/1979/7788/files/2_69693c21-9b3c-45fc-afc0-f82e26e858d3_1080x.jpg?v=1672729643 1080w, //cdn.shopify.com/s/files/1/0682/1979/7788/files/2_69693c21-9b3c-45fc-afc0-f82e26e858d3_1296x.jpg?v=1672729643 1296w, //cdn.shopify.com/s/files/1/0682/1979/7788/files/2_69693c21-9b3c-45fc-afc0-f82e26e858d3_1512x.jpg?v=1672729643 1512w, //cdn.shopify.com/s/files/1/0682/1979/7788/files/2_69693c21-9b3c-45fc-afc0-f82e26e858d3_1728x.jpg?v=1672729643 1728w, //cdn.shopify.com/s/files/1/0682/1979/7788/files/2_69693c21-9b3c-45fc-afc0-f82e26e858d3_2048x.jpg?v=1672729643 2048w"
                            sizes="451px"
                            srcset="//cdn.shopify.com/s/files/1/0682/1979/7788/files/2_69693c21-9b3c-45fc-afc0-f82e26e858d3_180x.jpg?v=1672729643 180w, //cdn.shopify.com/s/files/1/0682/1979/7788/files/2_69693c21-9b3c-45fc-afc0-f82e26e858d3_360x.jpg?v=1672729643 360w, //cdn.shopify.com/s/files/1/0682/1979/7788/files/2_69693c21-9b3c-45fc-afc0-f82e26e858d3_540x.jpg?v=1672729643 540w, //cdn.shopify.com/s/files/1/0682/1979/7788/files/2_69693c21-9b3c-45fc-afc0-f82e26e858d3_720x.jpg?v=1672729643 720w, //cdn.shopify.com/s/files/1/0682/1979/7788/files/2_69693c21-9b3c-45fc-afc0-f82e26e858d3_900x.jpg?v=1672729643 900w, //cdn.shopify.com/s/files/1/0682/1979/7788/files/2_69693c21-9b3c-45fc-afc0-f82e26e858d3_1080x.jpg?v=1672729643 1080w, //cdn.shopify.com/s/files/1/0682/1979/7788/files/2_69693c21-9b3c-45fc-afc0-f82e26e858d3_1296x.jpg?v=1672729643 1296w, //cdn.shopify.com/s/files/1/0682/1979/7788/files/2_69693c21-9b3c-45fc-afc0-f82e26e858d3_1512x.jpg?v=1672729643 1512w, //cdn.shopify.com/s/files/1/0682/1979/7788/files/2_69693c21-9b3c-45fc-afc0-f82e26e858d3_1728x.jpg?v=1672729643 1728w, //cdn.shopify.com/s/files/1/0682/1979/7788/files/2_69693c21-9b3c-45fc-afc0-f82e26e858d3_2048x.jpg?v=1672729643 2048w">
                    </div>
                </div>
                <noscript>
                    <img src="//cdn.shopify.com/s/files/1/0682/1979/7788/files/2_69693c21-9b3c-45fc-afc0-f82e26e858d3_600x600@2x.jpg?v=1672729643"
                        class="feature-row__image" />
                </noscript>
            </div>
        </div>
    </div>
</div>
<div id="shopify-section-be8f303b-f0ce-4a50-a0bd-05edd9e1512c" class="shopify-section index-section"
    data-shopify-editor-section="{&quot;id&quot;:&quot;be8f303b-f0ce-4a50-a0bd-05edd9e1512c&quot;,&quot;type&quot;:&quot;feature-row&quot;,&quot;disabled&quot;:false}">
    <div class="page-width feature-row">
        <div class="feature-row">
            <div class="feature-row__item">
                <style>
                    #FeatureRowImage-be8f303b-f0ce-4a50-a0bd-05edd9e1512c {
                        max-width: 645.9259259259259px;
                        max-height: 545px;
                    }
                    #FeatureRowImageWrapper-be8f303b-f0ce-4a50-a0bd-05edd9e1512c {
                        max-width: 645.9259259259259px;
                    }
                </style>
                <div id="FeatureRowImageWrapper-be8f303b-f0ce-4a50-a0bd-05edd9e1512c"
                    class="feature-row__image-wrapper js">
                    <div style="padding-top:84.37500000000001%;">
                        <img id="FeatureRowImage-be8f303b-f0ce-4a50-a0bd-05edd9e1512c"
                            class="feature-row__image lazyautosizes ls-is-cached lazyloaded"
                            data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                            data-aspectratio="1.1851851851851851" data-sizes="auto" alt=""
                            data-srcset="//cdn.shopify.com/s/files/1/0682/1979/7788/files/3_08910e7e-1699-46e4-99a3-311426d82843_180x.jpg?v=1672729654 180w, //cdn.shopify.com/s/files/1/0682/1979/7788/files/3_08910e7e-1699-46e4-99a3-311426d82843_360x.jpg?v=1672729654 360w, //cdn.shopify.com/s/files/1/0682/1979/7788/files/3_08910e7e-1699-46e4-99a3-311426d82843_540x.jpg?v=1672729654 540w, //cdn.shopify.com/s/files/1/0682/1979/7788/files/3_08910e7e-1699-46e4-99a3-311426d82843_720x.jpg?v=1672729654 720w, //cdn.shopify.com/s/files/1/0682/1979/7788/files/3_08910e7e-1699-46e4-99a3-311426d82843_900x.jpg?v=1672729654 900w, //cdn.shopify.com/s/files/1/0682/1979/7788/files/3_08910e7e-1699-46e4-99a3-311426d82843_1080x.jpg?v=1672729654 1080w, //cdn.shopify.com/s/files/1/0682/1979/7788/files/3_08910e7e-1699-46e4-99a3-311426d82843_1296x.jpg?v=1672729654 1296w, //cdn.shopify.com/s/files/1/0682/1979/7788/files/3_08910e7e-1699-46e4-99a3-311426d82843_1512x.jpg?v=1672729654 1512w, //cdn.shopify.com/s/files/1/0682/1979/7788/files/3_08910e7e-1699-46e4-99a3-311426d82843_1728x.jpg?v=1672729654 1728w, //cdn.shopify.com/s/files/1/0682/1979/7788/files/3_08910e7e-1699-46e4-99a3-311426d82843_2048x.jpg?v=1672729654 2048w"
                            sizes="451px"
                            srcset="//cdn.shopify.com/s/files/1/0682/1979/7788/files/3_08910e7e-1699-46e4-99a3-311426d82843_180x.jpg?v=1672729654 180w, //cdn.shopify.com/s/files/1/0682/1979/7788/files/3_08910e7e-1699-46e4-99a3-311426d82843_360x.jpg?v=1672729654 360w, //cdn.shopify.com/s/files/1/0682/1979/7788/files/3_08910e7e-1699-46e4-99a3-311426d82843_540x.jpg?v=1672729654 540w, //cdn.shopify.com/s/files/1/0682/1979/7788/files/3_08910e7e-1699-46e4-99a3-311426d82843_720x.jpg?v=1672729654 720w, //cdn.shopify.com/s/files/1/0682/1979/7788/files/3_08910e7e-1699-46e4-99a3-311426d82843_900x.jpg?v=1672729654 900w, //cdn.shopify.com/s/files/1/0682/1979/7788/files/3_08910e7e-1699-46e4-99a3-311426d82843_1080x.jpg?v=1672729654 1080w, //cdn.shopify.com/s/files/1/0682/1979/7788/files/3_08910e7e-1699-46e4-99a3-311426d82843_1296x.jpg?v=1672729654 1296w, //cdn.shopify.com/s/files/1/0682/1979/7788/files/3_08910e7e-1699-46e4-99a3-311426d82843_1512x.jpg?v=1672729654 1512w, //cdn.shopify.com/s/files/1/0682/1979/7788/files/3_08910e7e-1699-46e4-99a3-311426d82843_1728x.jpg?v=1672729654 1728w, //cdn.shopify.com/s/files/1/0682/1979/7788/files/3_08910e7e-1699-46e4-99a3-311426d82843_2048x.jpg?v=1672729654 2048w">
                    </div>
                </div>
                <noscript>
                    <img src="//cdn.shopify.com/s/files/1/0682/1979/7788/files/3_08910e7e-1699-46e4-99a3-311426d82843_600x600@2x.jpg?v=1672729654"
                        class="feature-row__image" />
                </noscript>
            </div>
            <div class="feature-row__item feature-row__text feature-row__text--left">
                <h2 class="h3" data-live-text-setting="section.be8f303b-f0ce-4a50-a0bd-05edd9e1512c.title/escape">Image
                    with text</h2>
                <div class="rte rte-setting featured-row__subtext"
                    data-live-text-setting="section.be8f303b-f0ce-4a50-a0bd-05edd9e1512c.text">
                    <p>Pair large text with an image to give focus to your chosen product, collection, or blog post. Add
                        details on availability, style, or even provide a review.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="shopify-section-9d50047d-fc08-4978-9a18-d67eec2603e1" class="shopify-section index-section"
    data-shopify-editor-section="{&quot;id&quot;:&quot;9d50047d-fc08-4978-9a18-d67eec2603e1&quot;,&quot;type&quot;:&quot;feature-row&quot;,&quot;disabled&quot;:false}">
    <div class="page-width feature-row">
        <div class="feature-row">
            <div class="feature-row__item feature-row__text feature-row__text--right">
                <h2 class="h3" data-live-text-setting="section.9d50047d-fc08-4978-9a18-d67eec2603e1.title/escape">Image
                    with text</h2>
                <div class="rte rte-setting featured-row__subtext"
                    data-live-text-setting="section.9d50047d-fc08-4978-9a18-d67eec2603e1.text">
                    <p>Pair large text with an image to give focus to your chosen product, collection, or blog post. Add
                        details on availability, style, or even provide a review.</p>
                </div>
            </div>
            <div class="feature-row__item">
                <style>
                    #FeatureRowImage-9d50047d-fc08-4978-9a18-d67eec2603e1 {
                        max-width: 584.3204697986578px;
                        max-height: 545px;
                    }
                    #FeatureRowImageWrapper-9d50047d-fc08-4978-9a18-d67eec2603e1 {
                        max-width: 584.3204697986578px;
                    }
                </style>
                <div id="FeatureRowImageWrapper-9d50047d-fc08-4978-9a18-d67eec2603e1"
                    class="feature-row__image-wrapper js">
                    <div style="padding-top:93.27073552425665%;">
                        <img id="FeatureRowImage-9d50047d-fc08-4978-9a18-d67eec2603e1"
                            class="feature-row__image lazyautosizes ls-is-cached lazyloaded"
                            data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                            data-aspectratio="1.0721476510067114" data-sizes="auto" alt=""
                            data-srcset="//cdn.shopify.com/s/files/1/0682/1979/7788/files/4_968b239a-7e86-4096-a06a-ea3b7948d6de_180x.jpg?v=1672729663 180w, //cdn.shopify.com/s/files/1/0682/1979/7788/files/4_968b239a-7e86-4096-a06a-ea3b7948d6de_360x.jpg?v=1672729663 360w, //cdn.shopify.com/s/files/1/0682/1979/7788/files/4_968b239a-7e86-4096-a06a-ea3b7948d6de_540x.jpg?v=1672729663 540w, //cdn.shopify.com/s/files/1/0682/1979/7788/files/4_968b239a-7e86-4096-a06a-ea3b7948d6de_720x.jpg?v=1672729663 720w, //cdn.shopify.com/s/files/1/0682/1979/7788/files/4_968b239a-7e86-4096-a06a-ea3b7948d6de_900x.jpg?v=1672729663 900w, //cdn.shopify.com/s/files/1/0682/1979/7788/files/4_968b239a-7e86-4096-a06a-ea3b7948d6de_1080x.jpg?v=1672729663 1080w, //cdn.shopify.com/s/files/1/0682/1979/7788/files/4_968b239a-7e86-4096-a06a-ea3b7948d6de_1296x.jpg?v=1672729663 1296w, //cdn.shopify.com/s/files/1/0682/1979/7788/files/4_968b239a-7e86-4096-a06a-ea3b7948d6de_1512x.jpg?v=1672729663 1512w, //cdn.shopify.com/s/files/1/0682/1979/7788/files/4_968b239a-7e86-4096-a06a-ea3b7948d6de_1728x.jpg?v=1672729663 1728w, //cdn.shopify.com/s/files/1/0682/1979/7788/files/4_968b239a-7e86-4096-a06a-ea3b7948d6de_2048x.jpg?v=1672729663 2048w"
                            sizes="451px"
                            srcset="//cdn.shopify.com/s/files/1/0682/1979/7788/files/4_968b239a-7e86-4096-a06a-ea3b7948d6de_180x.jpg?v=1672729663 180w, //cdn.shopify.com/s/files/1/0682/1979/7788/files/4_968b239a-7e86-4096-a06a-ea3b7948d6de_360x.jpg?v=1672729663 360w, //cdn.shopify.com/s/files/1/0682/1979/7788/files/4_968b239a-7e86-4096-a06a-ea3b7948d6de_540x.jpg?v=1672729663 540w, //cdn.shopify.com/s/files/1/0682/1979/7788/files/4_968b239a-7e86-4096-a06a-ea3b7948d6de_720x.jpg?v=1672729663 720w, //cdn.shopify.com/s/files/1/0682/1979/7788/files/4_968b239a-7e86-4096-a06a-ea3b7948d6de_900x.jpg?v=1672729663 900w, //cdn.shopify.com/s/files/1/0682/1979/7788/files/4_968b239a-7e86-4096-a06a-ea3b7948d6de_1080x.jpg?v=1672729663 1080w, //cdn.shopify.com/s/files/1/0682/1979/7788/files/4_968b239a-7e86-4096-a06a-ea3b7948d6de_1296x.jpg?v=1672729663 1296w, //cdn.shopify.com/s/files/1/0682/1979/7788/files/4_968b239a-7e86-4096-a06a-ea3b7948d6de_1512x.jpg?v=1672729663 1512w, //cdn.shopify.com/s/files/1/0682/1979/7788/files/4_968b239a-7e86-4096-a06a-ea3b7948d6de_1728x.jpg?v=1672729663 1728w, //cdn.shopify.com/s/files/1/0682/1979/7788/files/4_968b239a-7e86-4096-a06a-ea3b7948d6de_2048x.jpg?v=1672729663 2048w">
                    </div>
                </div>
                <noscript>
                    <img src="//cdn.shopify.com/s/files/1/0682/1979/7788/files/4_968b239a-7e86-4096-a06a-ea3b7948d6de_600x600@2x.jpg?v=1672729663"
                        class="feature-row__image" />
                </noscript>
            </div>
        </div>
    </div>
</div>